.body {
}

.top {
  color: #fff;
  background: #222;
  padding-bottom: 48px;
}

.text {
  font-size: 1rem;
  padding: 16px 16px 32px 16px;

  h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  p {
    margin-top: 12px;
    font-size: 1rem;
  }

  .mono {
    font-family: 'Mono';
    font-size: 10px;
    margin-top: 6px;
    padding-left: 1px;
    opacity: 0.8;
    max-width: 428px;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.left {
  height: 16px;
  width: 32px;
}

.right {
  text-align: left;
  padding-left: 8px;
  font-size: 10px;
  min-width: 10%;
  width: 100%;
}

.row {
  font-family: 'Mono';
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 10px;
}

.col {
  width: 20%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left;
  padding: 4px 24px 4px 16px;
}

.table {
  margin-top: 16px;
  display: block;
}
