.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 960px) {
    display: block;
  }
}

.left {
  width: 50%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  align-self: stretch;

  @media (max-width: 960px) {
    min-height: unset;
    width: 100%;
    padding-bottom: 48px;
  }
}

.right {
  width: 50%;
  min-height: 100vh;
  align-self: stretch;

  @media (max-width: 960px) {
    width: 100%;
    min-height: unset;
  }
}
